{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    {% for category in categories %}
        <p>{{ category.id }}</p>
        <p>{{ category.libele }}</p>
    {% endfor %}
{% endblock %}
